<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Check my robots </h1>
    <section id="output">
    </section>
    <section id="serverRender">
      {{name}}
      <ul>
        {{#colors}}
        <li>{{.}}</li>
        {{/colors}}
      </ul>
      {{languages}}
    </section>
    <script src="main.js"></script>
  </body>
</html>
